<div class="admin-panel">
  <p-card header="Dashboard" subheader="Latest Updates">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i>
              <span class="name">Orders</span>
            </div>
            <span class="number">{{ statics.ordersCount }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="d-item">
            <div>
              <i class="pi pi-dollar"></i>
              <span class="name">Total Sale's</span>
            </div>
            <span class="number">{{statics.totalSales}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i>
              <span class="name">Products</span>
            </div>
            <span class="number">{{ statics.productsCount }}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-order">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i>
              <span class="name">users</span>
            </div>
            <span class="number">{{ statics.usersCount }}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
