.tools{
    // padding-top: 22px ;
    display: flex;
    align-items: center;
}
.nav-pos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}